h3{
    display: inline;
}
.cartCount{
    margin-left: 20px;
    border: 1px solid #000;
    display: inline;
    border-radius: 10px;
}
.cartCount button{
    border: none;
    padding: 5px 10px;
    background: none;
}
.detailPhoto{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 0 auto;
}