.footer-top{
    padding: 50px 0;
}
.footer{
    background: #333;
    padding: 20px 0;
}
img{
    width: 150px;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #fff;
    padding: 10px 0;
}
.footer_bottom ul{
    float: right;
}
.footer_bottom ul li{
    list-style: none;
    float: left;
}
.footer_bottom ul li a{
    color: #fff;    
    padding: 5px 10px;
}
p{
    color: #666;
}
a:hover{
    text-decoration: none;
}